.container {
  height: 20px;
  color: rgb(33, 79, 33);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.heading {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .heading {
    font-size: 15px;
  }
}
